

input[type="search"] {
	border: none;
	margin: 2em auto;
	padding: 10px;
	background: black;
	color: #61dafb;
	border-radius: 8px;
	outline: none;
	transition: all 500ms ease;
     border: 3px solid rgb(54, 54, 54);
}

input[type="search"]:focus {
	border: 3px solid #61dafb;
}
